<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--引入默认的一些设置-->
    <include resource="com/wxhx/basic_client/config/log/wxhxLog.xml"/>
    <!--web信息-->
    <logger name="org.springframework.web" level="info"/>

    <!--写入日志到控制台的appender,用默认的,但是要去掉charset,否则windows下tomcat下乱码
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
-->
        <root level="info">
	        <appender-ref ref="STDOUT" />
	        <appender-ref ref="DEBUG" />  
	        <appender-ref ref="ERROR" />
	        <appender-ref ref="INFO" /> 
        </root>
</configuration>