<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxhx.gate.plat.dao.KsyyxxMapper" >
	
	
	
 	<select id="selectByIdNum" parameterType="java.lang.String" resultType="com.wxhx.gate.plat.dao.entity.Ksyyxx">
	    select *
	    from KSYYXX where SFZMHM = #{sfzmhm} and TO_CHAR(YKRQ,'yyyymmdd') = TO_CHAR(SYSDATE, 'yyyymmdd')
 	</select>
 	
 	<update id="updateByCardId" parameterType="com.wxhx.gate.plat.dao.entity.Ksyyxx">
    update KSYYXX
    <set>
      <if test="lsh != null">
        LSH = #{lsh},
      </if>
      <if test="kskm != null">
        KSKM = #{kskm},
      </if>
      <if test="zkzmbh != null">
        ZKZMBH = #{zkzmbh},
      </if>
      <if test="ksyy != null">
        KSYY = #{ksyy},
      </if>
      <if test="kscx != null">
        KSCX = #{kscx},
      </if>
      <if test="kscc != null">
        KSCC = #{kscc},
      </if>
      <if test="jbr != null">
        JBR = #{jbr},
      </if>
      <if test="glbm != null">
        GLBM = #{glbm},
      </if>
      <if test="dlr != null">
        DLR = #{dlr},
      </if>
      <if test="ksy1 != null">
        KSY1 = #{ksy1},
      </if>
      <if test="ksy2 != null">
        KSY2 = #{ksy2},
      </if>
      <if test="bcyykscs != null">
        BCYYKSCS = #{bcyykscs},
      </if>
      <if test="ksxm != null">
        KSXM = #{ksxm},
      </if>
      <if test="lxxh != null">
        LXXH = #{lxxh},
      </if>
      <if test="mjsj != null">
        MJSJ = #{mjsj},
      </if>
      <if test="ctlbit1 != null">
        CTLBIT1 = #{ctlbit1},
      </if>
      <if test="ctlbit2 != null">
        CTLBIT2 = #{ctlbit2},
      </if>
      <if test="ctlbit3 != null">
        CTLBIT3 = #{ctlbit3},
      </if>
      <if test="yycs != null">
        YYCS = #{yycs}
      </if>
    </set>
    where SFZMHM = #{sfzmhm} and to_char(YKRQ,'yyyy-mm-dd') = to_char(#{ykrq},'yyyy-mm-dd')
  </update>
 	
</mapper>