<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxhx.gate.plat.dao.KszpMapper">
  
  <update id="updatePhoto" parameterType="com.wxhx.gate.plat.dao.entity.Kszp">
    update KSZP
    set zp = #{zp},
        rid = #{rid}
    where sfzmhm = #{sfzmhm} and zplx = #{zplx} AND  TO_CHAR(GXSJ,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
  </update>
 	
 	<select id="getKszpByCarNo" resultType="com.wxhx.gate.plat.dao.entity.Kszp">
 		SELECT * from  kszp WHERE  sfzmhm = #{carNo} and ZPLX = #{type} AND  TO_CHAR(GXSJ,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') AND ZP IS NOT NULL AND ROWNUM = 1
 	</select>
 	
  <update id="updateLsh" parameterType="com.wxhx.gate.plat.dao.entity.Kszp">
    update KSZP set LSH = #{lsh} where sfzmhm = #{sfzmhm} AND  TO_CHAR(GXSJ,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
  </update>
  
  <delete id="deletePhotoInfo" parameterType="com.wxhx.gate.plat.dao.entity.Kszp">
	DELETE FROM KSZP WHERE SFZMHM = #{sfzmhm} and ZPLX = #{zplx} and TO_CHAR(GXSJ,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
  </delete>
  
 	
</mapper>